<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
	<title>Account Page</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">

    <style>
    input[type="text"],
    textarea {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        box-sizing: border-box;
    }
    /* input[type="submit"] {
        background-color: #ff6700;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    input[type="submit"]:hover {
        background-color: #3e8e41;
    } */
    </style>
    <script>

        var job;


        // Standard request function
        function getDBRequest(requestPath, responseMethod){
            var xhr = new XMLHttpRequest();
            xhr.open('GET', 'http://localhost:8080/dataRequest/' + requestPath);
            xhr.responseType = 'text';

            xhr.onload = function() {
                if (xhr.status === 200) {
                    var data = xhr.response;
                    let jsonData = JSON.parse(data);
                    
                    // User chosen Method
                    responseMethod(jsonData);
                }
            }
            // Send Request To Database
            xhr.send();
        }

        // -- Checks what job this page is querying
        const url = new URL(window.location.href);
        const queryString = url.search.substr(1); // remove the '?' character
        const params = queryString.split("&");
        let jobId;
        for (let i = 0; i < params.length; i++) {
            const param = params[i].split("=");
            if (param[0] === "jobId") {
                jobId = param[1];
                break;
            }
        }


        function toggleSidebar() {
                var sidebar = document.getElementById("sidebar");
                sidebar.classList.toggle("open");
            }


        function submitReview(){


            var xhr = new XMLHttpRequest();
            xhr.open("POST", "http://localhost:8080/dataRequest/rating");
            xhr.setRequestHeader("Content-Type", "application/json"); // Set the request header

            /*
            // Radio buttons
            var radios = document.getElementsByName('rating');
            var ratVar;
            for (var i = 0, length = radios.length; i < length; i++) {
                if (radios[i].checked) {
                    ratVar = radios[i].value;
                    break;
                }
            }*/

            var ratingData = {
                "clientId": job.clientId, // Replace with the actual clientId
                "professionalId": job.professionalId, // Replace with the actual professionalId
                "rating": document.querySelector('input[name="rating"]:checked').value,   // Replace with the actual rating
                "reviewTitle": document.getElementById("ratingTitle").value, // Replace with the actual reviewTitle
                "reviewDescription": document.getElementById("desc").value // Replace with the actual reviewDescription
            };

            alert(JSON.stringify(ratingData));

            xhr.send(JSON.stringify(ratingData));
        }

        function updateJob(j){
            job = j;
        }


        getDBRequest("jobs/id/" + jobId, updateJob);


    </script>
</head>
<body>
	<header>
        <navButton onclick="toggleSidebar()">☰</navButton>
		<!-- <a href="javascript:javascript:history.go(-1)"><button class="back-button">Back</button></a> -->
		<div class="center">
			<div class="logo">
				<img src="/static/logoWhite.png" alt="Logo" style="margin:0;padding-right:5pt;">
			</div>
            <div class="title">
                <h1>Hammer Time</h1>
            </div>
        </div>
    </header>

    <div class="sidebar" id="sidebar">
        <a th:href="@{/client/home}">Home</a>
        <a th:href="@{/client/account}">Account info</a>
        <!-- <a th:href="@{/orders}">Orders</a> -->
        <!-- <a th:href="@{/wallet}">Payment Methods</a> -->
            <!-- <a th:href="@{/address}">Address</a> -->
            <a th:href="@{/client/subscription}">Subscription</a>
            <a th:href="@{/main}">Sign out</a>
      </div>
    
    <main>
        <div class="content">
            <h1 style="text-align:center">Ratings and Reviews</h1>
            
            <h2>Title</h2>
            <input id="ratingTitle" type="text" name="name" >


            <h2>How would you rate the overall service?</h2>
            <input type="radio" id="1" name="rating" value="1"> 1</input>
            <input type="radio" id="2" name="rating" value="2"> 2</input>
            <input type="radio" id="3" name="rating" value="3"> 3</input>
            <input type="radio" id="4" name="rating" value="4"> 4</input>
            <input type="radio" id="5" name="rating" value="5"> 5</input>



            <h2>Additional comments</h2>
            <textarea id="desc" name="comments" cols="70" rows="10"></textarea>

            <!-- <input type="submit" value="Submit"> -->
            <a><button class="buttons" onclick="submitReview()">Submit</button></a>

        </div>
	</main>
    
    <footer>
        <p>This is the footer.</p>
    </footer>

    </body>
</html>