<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"><head>
	<title>Payments Page</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">

    <script>
        function toggleSidebar() {
                var sidebar = document.getElementById("sidebar");
                sidebar.classList.toggle("open");
            }
    </script>

    <style>
        input[type="submit"] {
        background-color: #ff6700;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #3e8e41;
        }
    </style>
</head>
<body>
	<header>
        <navButton onclick="toggleSidebar()">☰</navButton>
		<!-- <button class="back-button" onclick="goBackToSubs()">Back</button> -->
        <!-- <a th:href="@{/client/home}"><button class="back-button">Back</button></a> -->
        <!-- <a href="javascript:javascript:history.go(-1)"><button class="back-button">Back</button></a> -->
		<div class="center">
			<div class="logo">
				<img src="/static/logoPH.png" alt="Logo">
			</div>
            <div class="title">
                <h1>Hammer Time</h1>
            </div>
        </div>
    </header>

    <div class="sidebar" id="sidebar">
        <a th:href="@{/tradie/home}">Home</a>
        <a th:href="@{/tradie/account}">Account info</a>
            <a th:href="@{/tradie/subscription}">Subscription</a>
            <a th:href="@{/main}">Sign out</a>
      </div>
      
    <main>
        <div class="content">
		<h2>Welcome to Hammer Time!</h2>
		<p>This is the payments page of our website.</p>
        
        <a>
        <button class="buttons" onclick=" window.open('https://buy.stripe.com/test_3cs4gjbwK6ae1206oq','_blank')">Pay with Subscription</button>
        </a>

        <br /><br />
        
        <a>
        <button class="buttons" onclick=" window.open('https://buy.stripe.com/test_bIYdQTdES426fWU8wx','_blank')">Pay one-time fee</button>
        </a>

        </div>
	</main>
    
    <footer>
        <p>This is the footer.</p>
    </footer>

    </body>
    </html>